<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">
                    <img src="img/logo.png" width="60" height="35" class="d-inline-block align-top"  alt="logo"/>
                    Get Your Car Here
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item ">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/addCar">Add a Car</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/addCatagory">Add a Category</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!--end nav bar-->
        <div class="bg-light p-4">

            <h2 class="text-center">Add a Category</h2>
            <div class="row">
                <div class="col-sm-0 col-md-2"></div>
                <div class="col-sm-12 col-md-8">
                    <form class="form-group" action="#" th:action="@{/processCategory}"
                          th:object="${newCategory}" method="post">
                        <div class="form-group">
                            <input type="hidden" class="form-control" th:field="*{id}">
                        </div>
                        <div class="form-group">
                            <label>Category</label>
                            <input class="form-control" th:field="*{vehicleCatagory}"/>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-lg btn-secondary" type="submit" value="submit"/>
                            <a class="btn btn-lg btn-secondary" href="/addCategory">Add More</a>
                        </div>
                    </form>
                    <hr>
                </div>
                <div class="col-sm-0 col-md-2"></div>
            </div>
        </div>
        <div class="bg-light p-4">
            <div class="row">
                <div class="col-sm-0 col-md-2"></div>
                    <div class="col-sm-12 col-md-4">
                        <h4>You Added:</h4>
                        <hr/>
                        <div th:with="added=${newCategory}">
                            <span th:text="${added.vehicleCatagory}"></span>
                        </div>

                    </div>
                <div class="col-sm-12 col-md-4">
                    <h4>Category List</h4>
                    <hr/>
                    <div th:each="list:${listCategory}">
                        <span th:text="${list.vehicleCatagory}"></span>
                    </div>

                </div>
                <div class="col-sm-0 col-md-2"></div>
            </div>
        </div>
    </div>


<div th:replace="base :: scripts"></div>
</body>
</html>